<template>
  <div v-if="isLoggedIn" class="image-container">
    <img v-for="(image, index) in allImages" :src="image.link" :key="index" />
  </div>
  <h2 v-else>Please log in to get started!</h2>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'ImageList',
  data () {
    return {

    }
  },
  methods: {
    ...mapActions(['fetchImages'])
  },
  computed: {
    ...mapGetters(['allImages', 'isLoggedIn'])
  },
  created () {
    this.fetchImages()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .image-container {
    column-count: 3;
    column-gap: 0;
  }
  img {
    max-width: 100%;
    padding: 5px;
  }
</style>
