<template>
  <div class="drag-and-drop">
    <input type="file" @change="uploadImages($event.target.files)" multiple accept="image/*"/>
    <span>Drag files here</span>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
  name: 'UploadForm',
  data () {
    return {

    }
  },
  methods: {
    ...mapActions(['uploadImages'])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .drag-and-drop {
    height: 30vh;
    border: 2px dashed black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .drag-and-drop:hover {
    background-color: #eee;
  }
  input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
</style>
